/*
    new montezuma
    new-montezuma
    style_m1.css
    since july 2018
    loads after the unchanged style.css of the underscores.me theme
*/
/* SCSS VARIABLES */

/* SITEWIDE STYLES */

.home-slideshow {
  position: relative;
  display: none;
  width: 100%;
  padding-bottom: 49.6%;
  margin: 0 auto;
  z-index: 1;
  &:hover {
    .nav-boxes {
      display: block!important;
    }
    .slideshow-prev {
      display: block!important;
    }
    .slideshow-next {
      display: block!important;
    }
  }
  .nav-boxes {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding-right: 50px;
    text-align: right;
    opacity: .8;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 3px;
      border: 1px solid #DED9D3;
    }
  }
  .slideshow-logo {
  	position: absolute;
  	width: 107px;
  	height: 126px;
  	background-image: url("../images/masonic-logo.png");
  	background-size: 107px 126px;
  	bottom: 80px;
  	right: 62px;
  	z-index: 10;
  }
  ul {
    position: relative;
    width: 100%;
    li {
      position: absolute;
      display: none;
      width: 100%;
      a {
      	width: 100%;
		img {
			width: 100%;
			max-width: none;
		}
      }
    }
  }
}
